<div class="container on-map">
  <div>
    <button class="btn toolbox-button btn-default" [class.btn-primary]="editing"
            title="Show place name by clicking on the map" (click)="toggleEditing()" btnCheckbox>
        <i class="fa fa-map-marker fa"></i>
    </button>

    <button class="btn toolbox-button btn-default" [class.btn-primary]="editing"
            title="Show place name by clicking on the map" (click)="toggleEditing()" btnCheckbox>
        <i class="fa fa-map-marker fa"></i>
    </button>

    <button class="btn toolbox-button btn-default" [class.btn-primary]="editing"
            title="Show place name by clicking on the map" (click)="toggleEditing()" btnCheckbox>
        <i class="fa fa-map-marker fa"></i>
    </button>
  <div>
</div>
